$background-color_1: white;
$background-color_2: #efefef;

.results-list {
  position: absolute !important;
  color: #74767e !important;
  background-color: $background-color_1 !important;
  display: flex !important;
  flex-direction: column !important;
  box-shadow: 0px 0px 8px #ddd !important;
  border-radius: 5px !important;
  margin-top: 1rem !important;
  max-height: 320px !important;
  overflow-y: auto !important;

  &::-webkit-scrollbar {
    display: none;
  }

  .search-result {
    padding: 10px 20px !important;

    &:hover {
      background-color: $background-color_2 !important;
    }
  }
}
