.features-business {
  background-color: #0d084d;
  display: flex;
  justify-content: center;
  padding: 100px 0px;

  .container {
    width: 1400px;
    display: flex;
    align-items: center;
    gap: 200px;

    .left {
      display: flex;
      flex-direction: column;
      gap: 15px;
      flex: 2;
     
      img {
        width: 100%;
      }

      h1 {
        color: white;
        font-weight: 500;
        margin-bottom: 10px;
        
        i {
          font-weight: 300;
        }
      }

      .title {
        display: flex;
        align-items: center;
        gap: 10px;
        color: white !important;
        font-weight: 300 !important;
        font-size: 14px !important;

        img {
          width: 24px;
          height: 24px;
        }
      }

      p {
        font-size: 18px;
        font-weight: 300;
        line-height: 28px;
        letter-spacing: 1px;
        margin-bottom: 20px;
        color: white;
      }

      .explore-button {
        background-color: #1dbf73;
        border: none;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        width: max-content;
        font-size: 16px;
        cursor: pointer;
        margin-top: 20px;
      }

    }

    .right{
      display: flex;
      flex-direction: column;
      gap: 15px;
      flex: 3;
      img {
        width: 100%;
      }
    }
  }
}
