.features-business {
  background-color: #0d084d;
  display: flex;
  justify-content: center;
  padding: 100px 0px;

  .container {
    width: 1400px;
    display: flex;
    align-items: center;
    gap: 200px;

    .left {
      display: flex;
      flex-direction: column;
      gap: 15px;
      flex: 2;

      img {
        width: 100%;
      }

      h1 {
        color: white;
        font-weight: 500;
        margin-bottom: 10px;

        i {
          font-weight: 300;
        }
      }

      .title {
        display: flex;
        align-items: center;
        gap: 10px;
        color: white !important;
        font-weight: 300 !important;
        font-size: 14px !important;

        img {
          width: 24px;
          height: 24px;
        }
      }

      p {
        font-size: 18px;
        font-weight: 300;
        line-height: 28px;
        letter-spacing: 1px;
        margin-bottom: 20px;
        color: white;
      }

      $color_1: white;
      $font-family_1: inherit;

      .io-button {
        width: 38.8%;
        font-family: $font-family_1;
        font-weight: 500;
        font-size: 16px;
        padding: 0.7em 1.4em 0.7em 1.1em;
        color: $color_1;
        background: #1dbf73;
        border: none;
        box-shadow: 0 0.7em 1.5em -0.5em #28b34f98;
        letter-spacing: 0.05em;
        border-radius: 0.5em;
        &:hover {
          box-shadow: 0 0.5em 1.5em -0.5em #1dbf73;
        }
        &:active {
          box-shadow: 0 0.3em 1em -0.5em #1dbf73;
        }
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      gap: 15px;
      flex: 3;
      img {
        width: 100%;
      }
    }
  }
}
