.menu {
  width: 1400px;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  color: gray;
  font-family: "Montserrat", "sans-serif";

  hr {
    width: calc(100% - 2px);
    height: 0;
    border-top: 0.5px solid #ebe9e9;
    border-bottom: 0.5px solid #ebe9e9;
  }
}
