.my-gigs {
  display: flex;
  justify-content: center;
  color: #555;

  .container {
    width: 1400px;
    padding: 50px 0px;

    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;

    }

    table {
      width: 100%;

      tr {
        height: 50px;

        th {
          text-align: left;
        }

        td {
          sup {
            font-size: 12px;
          }

          .gig-image {
            width: 50px;
            height: 25px;
            object-fit: cover;
          }

          .delete {
            padding-top: 1.2%;
            padding-left: 5%;
            width: 20px;
            cursor: pointer;
          }
        }

        &:nth-child(even) {
          background-color: #1dbf730f;
        }
      }
    }
  }
}
