.reviews {
  margin-top: 50px;

  hr {
    margin: 50px 0px;
    height: 0;
    border: 1px solid rgb(237, 236, 236);
  }

  .add-review {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .review-form {
      display: flex;
      gap: 10px;

      input {
        width: 75%;
        padding: 20px;
      }

      select {
        width: 10%;
        padding: 20px;
        align-self: flex-end;
      }

      button {
        width: 15%;
        padding: 20px;
        border: none;
        align-self: flex-end;
        color: white;
        background-color: #1dbf73;
        cursor: pointer;
      }
    }
  }

  .loading {
    margin-top: 15%;
    margin-bottom: 10%;
    display: flex;
    align-items: center;

    h3 {
      margin: 10%;
    }
  }

  .error {
    margin-top: 15%;
    margin-bottom: 10%;
  }

  .empty {
    margin-top: 10%;
    margin-bottom: 10%;
  }

  hr {
    height: 0;
    border: 0.5px solid lightgray;
    margin: 50px 0px;
  }
}
