.reviews {
  margin-top: 50px;

  hr {
    margin: 50px 0px;
    height: 0;
    border: 1px solid rgb(237, 236, 236);
  }

  .add-review {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .review-form {
      display: flex;
      gap: 10px;

      input {
        width: 75%;
        padding: 20px;
      }

      select {
        width: 10%;
        padding: 20px;
        align-self: flex-end;
      }

      $color_1: white;
      $font-family_1: inherit;

      .io-button {
        display: flex;
        align-items: center;
        font-family: $font-family_1;
        font-weight: 500;
        font-size: 16px;
        padding: 0.6em 1.4em 0.6em 1.1em;
        color: $color_1;
        background: #1dbf73;
        border: none;
        box-shadow: 0 0.7em 1.5em -0.5em #28b34f98;
        letter-spacing: 0.05em;
        border-radius: 0.5em;
        &:hover {
          box-shadow: 0 0.5em 1.5em -0.5em #1dbf73;
        }
        &:active {
          box-shadow: 0 0.3em 1em -0.5em #1dbf73;
        }
      }
    }
  }

  .loading {
    margin-top: 15%;
    margin-bottom: 10%;
    display: flex;
    align-items: center;

    h3 {
      margin: 10%;
    }
  }

  .error {
    margin-top: 15%;
    margin-bottom: 10%;
  }

  .empty {
    margin-top: 10%;
    margin-bottom: 10%;
  }

  hr {
    height: 0;
    border: 0.5px solid lightgray;
    margin: 50px 0px;
  }
}
