.gigs {
  display: flex;
  justify-content: center;

  .container {
    width: 1400px;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .breadcrumbs {
      display: flex;
      justify-content: start;
      align-items: center;
      text-align: center;
      font-weight: 300;
      font-style: 13px;
      color: #555;

      .icon {
        padding-top: 2%;
        border-radius: 0%;
        object-fit: contain;
      }
    }

    p {
      color: #999;
      font-weight: 300;
    }

    .menu {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #555;
        font-weight: 300;

        input {
          padding: 0.7em 1.4em 0.7em 1.1em;
          border: 1px solid lightgray;
          outline: none;

          &::placeholder {
            color: gray;
          }
        }

        $color_1: white;
        $font-family_1: inherit;

        .io-button {
          display: flex;
          align-items: center;
          font-family: $font-family_1;
          font-weight: 500;
          font-size: 16px;
          padding: 0.6em 1.4em 0.6em 1.1em;
          color: $color_1;
          background: #1dbf73;
          border: none;
          box-shadow: 0 0.7em 1.5em -0.5em #28b34f98;
          letter-spacing: 0.05em;
          border-radius: 0.5em;
          &:hover {
            box-shadow: 0 0.5em 1.5em -0.5em #1dbf73;
          }
          &:active {
            box-shadow: 0 0.3em 1em -0.5em #1dbf73;
          }
        }
      }

      .right {
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;

        .sort-by {
          color: #555;
          font-weight: 300;
        }

        .sort-type {
          font-weight: 500;
          cursor: pointer;
        }

        img {
          width: 15px;
          cursor: pointer;
        }

        .right-menu {
          padding: 20px;
          background-color: white;
          border-radius: 5px;
          border: 0.5px solid lightgray;
          position: absolute;
          top: 30px;
          right: 0;
          display: flex;
          flex-direction: column;
          gap: 20px;
          color: #555;

          span {
            cursor: pointer;
          }
        }
      }
    }

    .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      gap: 2%;

      .loading {
        margin-top: 15%;
        margin-bottom: 20%;
        margin-left: 45%;
        display: flex;
        align-items: center;

        h3 {
          margin: 10%;
        }
      }

      .error {
        margin-top: 15%;
        margin-bottom: 10%;
        margin-left: 44%;
      }

      .empty {
        margin-top: 15%;
        margin-bottom: 10%;
        margin-left: 44%;
      }
    }
  }
}
