.success {
  background-repeat: repeat-x !important;
  background-position: top 10px center !important;
  background-image: url("data:image/svg+xml,%3Csvg width='300' height='300' viewBox='0 0 300 300' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='42' y='-10' width='6' height='10'/%3E%3Crect x='84' y='-10' width='6' height='10'/%3E%3Crect x='126' y='-13' width='5' height='13'/%3E%3Crect x='168' y='-13' width='5' height='13'/%3E%3Crect x='210' y='-10' width='6' height='10'/%3E%3Crect x='252' y='-13' width='5' height='13'/%3E%3Crect x='294' y='-10' width='6' height='10'/%3E%3Crect x='336' y='-13' width='5' height='13'/%3E%3Crect x='378' y='-13' width='5' height='13'/%3E%3Crect x='420' y='-10' width='6' height='10'/%3E%3Crect x='462' y='-10' width='6' height='10'/%3E%3Crect x='504' y='-13' width='5' height='13'/%3E%3Crect x='546' y='-10' width='6' height='10'/%3E%3Cstyle type='text/css'%3E rect %7B opacity: 0; %7D rect:nth-child(1) %7B transform-origin: 45px 5px; transform: rotate(-145deg); animation: blast 700ms infinite ease-out; animation-delay: 88ms; animation-duration: 831ms; %7D rect:nth-child(2) %7B transform-origin: 87px 5px; transform: rotate(164deg); animation: blast 700ms infinite ease-out; animation-delay: 131ms; animation-duration: 642ms; %7D rect:nth-child(3) %7B transform-origin: 128px 6px; transform: rotate(4deg); animation: blast 700ms infinite ease-out; animation-delay: 92ms; animation-duration: 862ms; %7D rect:nth-child(4) %7B transform-origin: 170px 6px; transform: rotate(-175deg); animation: blast 700ms infinite ease-out; animation-delay: 17ms; animation-duration: 793ms; %7D rect:nth-child(5) %7B transform-origin: 213px 5px; transform: rotate(-97deg); animation: blast 700ms infinite ease-out; animation-delay: 122ms; animation-duration: 676ms; %7D rect:nth-child(6) %7B transform-origin: 255px 6px; transform: rotate(57deg); animation: blast 600ms infinite ease-out; animation-delay: 271ms; animation-duration: 581ms; %7D rect:nth-child(7) %7B transform-origin: 297px 5px; transform: rotate(-46deg); animation: blast 700ms infinite ease-out; animation-delay: 131ms; animation-duration: 619ms; %7D rect:nth-child(8) %7B transform-origin: 338px 6px; transform: rotate(-65deg); animation: blast 700ms infinite ease-out; animation-delay: 85ms; animation-duration: 868ms; %7D rect:nth-child(9) %7B transform-origin: 380px 6px; transform: rotate(13deg); animation: blast 700ms infinite ease-out; animation-delay: 128ms; animation-duration: 577ms; %7D rect:nth-child(10) %7B transform-origin: 423px 5px; transform: rotate(176deg); animation: blast 700ms infinite ease-out; animation-delay: 311ms; animation-duration: 608ms; %7D rect:nth-child(11) %7B transform-origin: 465px 5px; transform: rotate(108deg); animation: blast 700ms infinite ease-out; animation-delay: 108ms; animation-duration: 795ms; %7D rect:nth-child(12) %7B transform-origin: 506px 6px; transform: rotate(62deg); animation: blast 700ms infinite ease-out; animation-delay: 105ms; animation-duration: 575ms; %7D rect:nth-child(13) %7B transform-origin: 549px 5px; transform: rotate(16deg); animation: blast 700ms infinite ease-out; animation-delay: 149ms; animation-duration: 691ms; %7D rect:nth-child(odd) %7B fill: %2365BB5C; %7D rect:nth-child(even) %7B z-index: 1; fill: %2333AAFF; %7D rect:nth-child(4n) %7B animation-duration: 1400ms; fill: %23F23B14; %7D rect:nth-child(3n) %7B animation-duration: 1750ms; animation-delay: 700ms; %7D rect:nth-child(4n-7) %7B fill: %232A2F6A; %7D rect:nth-child(6n) %7B fill: %23FBBA23; %7D @keyframes blast %7B from %7B opacity: 0; %7D 20%25 %7B opacity: 1; %7D to %7B transform: translateY(300px); %7D %7D %3C/style%3E%3C/svg%3E%0A") !important;
}
.gig {
  display: flex;
  justify-content: center;

  .loading {
    margin-top: 15%;
    margin-bottom: 10%;
    display: flex;
    align-items: center;

    h3 {
      margin: 10%;
    }
  }
  .error {
    margin-top: 15%;
    margin-bottom: 10%;
  }

  .container {
    width: 1400px;
    padding: 30px 0px;
    display: flex;
    gap: 50px;

    .left {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .breadcrumbs {
        display: flex;
        justify-content: start;
        align-items: center;
        text-align: center;
        font-weight: 300;
        font-style: 13px;
        color: #555;

        .icon {
          border-radius: 0%;
          object-fit: contain;
        }
      }

      .user {
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;

        .verified {
          position: absolute;
          right: 96%;
          top: -17%;
        }

        .pp {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
        }

        span {
          font-size: 14px;
          font-weight: 500;
        }

        .stars {
          display: flex;
          align-items: center;
          gap: 5px;

          img {
            height: 14px;
            width: 14px;
          }

          span {
            font-size: 14px;
            font-weight: bold;
            color: #ffc108;
          }
        }
      }

      h2 {
        font-weight: 400;
      }

      p {
        font-weight: 300;
        line-height: 25px;
        color: #555;
      }

      .seller {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .user {
          position: relative;
          display: flex;
          align-items: center;
          gap: 20px;

          .verified {
            position: absolute;
            right: 89%;
            top: 0;
          }

          img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
          }

          .info {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .stars {
              display: flex;
              align-items: center;
              gap: 5px;

              img {
                height: 14px;
                width: 14px;
              }

              span {
                font-size: 14px;
                font-weight: bold;
                color: #ffc108;
              }
            }

            button {
              background-color: white;
              border-radius: 5px;
              border: 1px solid gray;
              padding: 10px;
              cursor: pointer;
            }
          }
        }

        .box {
          border: 1px solid lightgray;
          border-radius: 5px;
          padding: 20px;
          margin-top: 20px;

          .items {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .item {
              width: 300px;
              display: flex;
              flex-direction: column;
              gap: 10px;
              margin-bottom: 20px;

              .title {
                font-weight: 300;
              }
            }
          }

          hr {
            height: 0;
            border: 0.5px solid lightgray;
            margin-bottom: 20px;
          }
        }
      }
    }

    .right {
      flex: 1;
      border: 1px solid lightgray;
      padding: 20px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: max-content;
      max-height: 500px;
      position: sticky;
      top: 150px;

      .price {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
          font-weight: 300;
        }

        h3 {
          font-weight: 500;
        }
      }

      p {
        color: gray;
        margin: 10px 0px;
      }

      .details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;

        .item {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            width: 20px;
          }
        }
      }

      .features {
        .item {
          display: flex;
          align-items: center;
          gap: 10px;
          font-weight: 300;
          color: gray;
          margin-bottom: 5px;

          img {
            width: 14px;
          }
        }
      }

      button {
        background-color: #1dbf73;
        padding: 10px;
        color: white;
        font-weight: 500;
        border: none;
        font-size: 18px;
        cursor: pointer;
      }
    }
  }
}
