.add {
  display: flex;
  justify-content: center;
  span {
    color: #ff0000;
  }

  .container {
    width: 1400px;
    padding: 50px 0px;

    h1 {
      width: max-content;
      margin-bottom: 30px;
      color: gray;
      font-weight: 300;
    }

    .sections {
      display: flex;
      justify-content: space-between;
      gap: 100px;

      label {
        color: gray;
        font-size: 18px;
      }

      .info,
      .details {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: space-between;

        input,
        select,
        textarea {
          padding: 20px;
          border: 1px solid rgb(216, 214, 214);
        }

        $color_1: white;
        $font-family_1: inherit;

        .io-button {
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: $font-family_1;
          font-weight: 500;
          font-size: 16px;
          padding: 20px;
          color: $color_1;
          background: #1dbf73;
          border: none;
          box-shadow: 0 0.7em 1.5em -0.5em #28b34f98;
          letter-spacing: 0.05em;
          border-radius: 0.5em;
          &:hover {
            box-shadow: 0 0.5em 1.5em -0.5em #1dbf73;
          }
          &:active {
            box-shadow: 0 0.3em 1em -0.5em #1dbf73;
          }
        }

        .add-features {
          display: flex;
          justify-content: space-between;

          input {
            width: 80%;
          }
        }

        .added-features {
          display: flex;
          gap: 20px;

          button {
            height: 30px;
            font-size: 12px;
            font-weight: 400;
            background: transparent;
            color: red;
            border: 1px solid red;
            display: flex;
            align-items: center;
            gap: 20px;
          }
        }
      }
    }
  }
}
