.features-promo {
  background-color: #f1fdf7;
  display: flex;
  justify-content: center;
  padding: 100px 0px;

  .container {
    width: 1400px;
    display: flex;
    align-items: center;
    gap: 200px;

    .left {
      display: flex;
      flex-direction: column;
      gap: 15px;
      flex: 2;

      img {
        width: 100%;
      }

      h1 {
        font-weight: 500;
        margin-bottom: 10px;

        i {
          font-weight: 300;
        }
      }

      .title {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
        font-size: 18px;
        color: #666;

        img {
          width: 24px;
          height: 24px;
        }
      }

      p {
        font-size: 18px;
        font-weight: 300;
        color: gray;
        line-height: 28px;
        letter-spacing: 1px;
      }

    }

    .right {
      display: flex;
      flex-direction: column;
      gap: 15px;
      flex: 3;
      
      video {
        width: 720px;
      }
    }
  }
}
