.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  color: white;
  transition: 0.5s all ease;
  position: sticky;
  top: 0;
  z-index: 999;

  &.active {
    background-color: white;
    color: black;

    button {
      background-color: white !important;
      color: #1dbf73 !important;
      border: 1px solid #1dbf73 !important;

      &:hover {
        box-shadow: 0 0.5em 1.5em -0.5em #1dbf73 !important;
        background-color: #1dbf73 !important;
        border-color: #1dbf73 !important;
        color: white !important;
      }
    }
  }

  .container {
    width: 1400px;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;

    .logo {
      font-size: 34px;
      font-weight: bold;

      .dot {
        color: #1dbf73;
      }
    }

    .search-bar-container {
      padding-left: 2%;
      width: 40%;

      .search {
        background-color: white !important;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        border: 1px solid #222325 !important;

        .search-input {
          width: 100%;
          display: flex;
          padding-left: 5%;
          align-items: center;
          gap: 10px;

          input {
            border: none;
            outline: none;
            width: 100%;
          }
        }

        button {
          width: 65px;
          height: 50px;
          border: none;
          background-color: #222325 !important;
          color: white !important;
          border-color: #222325 !important;
          cursor: pointer;

          img {
            width: 20px;
            height: 20px;
            margin: 10px;
          }

          &:hover {
            background-color: black !important;
            border-color: black !important;
            color: white !important;
          }
        }
      }
    }

    .links {
      display: flex;
      align-items: center;
      gap: 24px;
      font-weight: 500;
      font-family: "Montserrat", "sans-serif";

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        position: relative;

        img {
          width: 42px;
          height: 42px;
          border-radius: 50%;
          object-fit: cover;
        }

        .verified {
          position: absolute;
          right: -4%;
          top: -5%;
        }
      }

      button {
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid white;
        cursor: pointer;
        background-color: transparent;

        &:hover {
          background-color: #1dbf73;
          border-color: #1dbf73;
        }
      }
    }
  }

  hr {
    width: calc(100% - 2px);
    height: 0;
    border-top: 0.5px solid #ebe9e9;
    border-bottom: 0.5px solid #ebe9e9;
  }
}
