@keyframes changeBg {
  25% {
    background-color: rgb(40, 97, 172);
  }
  50% {
    background-color: rgb(106, 27, 143);
  }
  75% {
    background-color: rgb(204, 169, 11);
  }
}

.hero-section {
  height: 700px;
  display: flex;
  justify-content: center;
  animation: changeBg 1s infinite;
  -webkit-animation-duration: 20s;
  background-color: #013914;
  color: white;
  margin-top: -7.2%;

  .container {
    height: inherit;
    width: 1400px;
    display: flex;
    align-items: center;

    .left {
      display: flex;
      flex-direction: column;
      gap: 30px;

      h1 {
        font-size: 50px;

        span {
          font-style: italic;
          font-weight: 300;
        }
      }

      .search {
        background-color: white;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;

        .search-input {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            width: 20px;
            height: 20px;
            margin: 10px;
          }

          input {
            width: 100%;
            border: none;
            outline: none;
          }
        }

        button {
          width: 120px;
          height: 50px;
          border: none;
          background-color: #1dbf73;
          color: white;
          cursor: pointer;

          &:hover {
            background-color: #22ad6c;
            border-color: #22ad6c;
            color: white;
          }
        }
      }

      .popular {
        display: flex;
        align-items: center;
        gap: 10px;

        button {
          color: white;
          background-color: transparent;
          border: 1px solid white;
          padding: 5px 10px;
          border-radius: 20px;
          font-size: 14px;
          cursor: pointer;
        }
      }
    }

    .right {
      height: 100%;
      .image-container {
        margin-top: 16.7%;
        height: 600px;
        width: 600px;
        img {
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}
