.orders {
  display: flex;
  justify-content: center;
  color: #555;

  .container {
    width: 1400px;
    padding: 50px 0px;

    hr {
      margin: 50px 0px;
      height: 0;
      border: 1px solid rgb(237, 236, 236);
    }

    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        background-color: #1dbf73;
        color: white;
        font-weight: 500;
        border: none;
        padding: 10px;
        cursor: pointer;
      }
    }

    .loading {
      margin-top: 15%;
      margin-bottom: 20%;
      margin-left: 45%;
      display: flex;
      align-items: center;

      h3 {
        margin: 2%;
      }
    }

    .error {
      margin-top: 15%;
      margin-bottom: 10%;
      margin-left: 44%;
    }

    .empty {
      margin-top: 15%;
      margin-bottom: 10%;
      margin-left: 44%;
    }

    table {
      width: 100%;
      thead {
        tr {
          height: 50px;

          th {
            text-align: center;
          }
        }
      }

      tbody {
        tr {
          height: 50px;

          td {
            text-align: center;

            .profile-image {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
            }

            .gig-image {
              width: 80px;
              height: 40px;
              object-fit: cover;
            }

            .message {
              padding-top: 1.2%;
              padding-left: 43%;
              width: 35px;
              cursor: pointer;
            }
          }

          &:nth-child(odd) {
            background-color: #1dbf730f;
          }
        }
      }
    }
  }
}
